

  <div class="modal-header">
    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
  <h3>Sign In</h3>
  
</div>

  <div class="modal-body">
   <%=  form_for :user,:authenticity_token => true,url: log_in_user_path, :html => { :id => "session_new"} do |f| %> 
 <div class="form-group">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
 
  <div class="form-group">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
   
  
   
  <p><%= link_to "Forgotten Password?", new_password_reset_path,remote: true %></p>
  
<%= submit_tag 'Sign In',:class => "btn btn-info" %>
  <%= link_to "Cancel", "#", :class => "btn btn-info", data: {dismiss: "modal"} %>

</div>

<% end %>





  
