

<div class="modal-header">
<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
<h3>Sign Up</h3></div>
<div class="modal-body">
  <%=  form_for @user , url: sign_up_user_path(@user),  :authenticity_token => true, :html => { :id => "user_new"}  do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-group">  
    <%= f.label :phonenumber %><br />
    <%= f.text_field :phonenumber %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br />
    <%= f.text_field :city%>
  </p>
  <div class="form-group">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>

 
<%= f.submit 'Sign Up',:class => "btn btn-info" %>
    <%= link_to "Cancel", "#", :class => "btn btn-info", data: {dismiss: "modal"} %>

<% end %>
</div>





